@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body, html{
    text-align: center;
}
html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
i{
    cursor: pointer;
    color: rgb(207, 204, 204);
}
.yellowgreen{
    color: #ECB602;
}
.btn-success{
    background: #ECB602 !important;
    color: white;
    width: 180px !important;
    box-shadow: 5px 5px 15px rgba(199, 199, 199, 0.5) !important;
    border-radius: 0 !important;
    border: none !important;
    transition: .5s !important;
}
.btn-success:hover{
    transform: scale(1.03);
    box-shadow: 8px 8px 15px rgba(199, 199, 199, 0.5) !important;
}
header{
    width: 100%;
    position: relative;
    background-image: url(header3.jpg);
    height: 100vh;
    background-size: cover;
    transition: .5s;
}
.container-fluid{
    position: fixed;
    z-index: 10;
}
.navbar{
    background: white;
    top: 1rem;
    border-radius: 10px;
    z-index: 10;
    border: 1px solid rgb(224, 223, 223);
    
}
.navbar button{
    position: absolute;
    right: 2rem;
    top: 0.8rem;
}
.navbar button i{
    color: black;
}

.collapse{
    margin: auto;
    justify-content: space-evenly;
    
}
.navbar-nav li{
    margin: 0 2em 0 2em;
}
.navbar-nav li a{
    color: black;
}
.navbar-brand{
    margin-left: 1%;
    color: black;
    font-weight: 600;
}
.navbar-brand:hover{
    color: black;
}
/* Menu link hover effect */

.collapse ul li::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    border-radius: 3px;
    background: #ECB602 !important;
    transition: width .5s;
    text-align: center;
}
.collapse ul li:hover::after{
    width: 100%;
    transition: width .5s;
}


.header-content{
    position: relative;
    color: white;
    top: 40%;
}
.header-content h1{
    font-size: 50px;
}
.header-content h6{
    margin: 25px 0px 25px 0px;
    letter-spacing: 0.04cm;
}

.author-row{
    grid-column-gap: 3rem;
    margin: auto;
    justify-content: center;
    transition: .5s;
}
.author-col{
    padding: 0 !important;
    box-shadow: 5px 5px 15px rgba(199, 199, 199, 0.5);
    height: 300px;
    text-align: center;
    margin-bottom: 2rem;
    margin: 1rem;
    transition: .5s;
}
.author-img{
    height: 50%;
    display: grid;
    place-items: center;
    background: #ECB602;

}
.author-img img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(19, 18, 18, 0.5);
    object-fit: cover;
    object-position: top;
}
.author-info{
    padding-top: 2.5rem;
}
.author-info h6{
    font-size: 12px;
}
.author-info h5{
    font-size: 15px;
}
.container hr{
    margin-bottom: 50px;
}
.author-container{
    padding: 2rem 1rem 2rem 1rem;
    margin-bottom: 50px;
}
.intro-container{
    margin: 100px 0 100px 0;
}
.main-start .col-sm img{
    border: none;
    width: 100%;
    height: 300px;
}
.main-start .text-column{
    margin-left: -200px;
    background: white;
    margin-top: 140px;
    padding: 2rem;
}
.main-start .text-column p{
    font-size: 10px;
}


.recommend-section{
    margin-bottom: 3rem;
}
.recommend-book{
    box-shadow: 5px 5px 15px rgba(199, 199, 199, 0.5);
    padding: 2rem;
    margin: 4rem;
    column-gap: 2rem;
}
.rec-sec-img img{
    width: 200px;
    height: 250px;
    box-shadow: 3px 3px 5px rgba(109, 108, 108, 0.5);
    margin-bottom: 2rem;
    transition: .5s;
}
.rec-sec-img img:hover{
    box-shadow: 4px 4px 10px rgba(109, 108, 108, 0.5);
    transform: scale(1.02);
}
.rec-sec-info{
    position: relative;
}
/* STar Rating */
.star-rating{
    cursor: pointer;
}


.rec-sec-info p{
    font-size: 15px;
}
.book-filters{
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.dropdown-btn{
    margin-bottom: 1rem;

}
.dropdown-toggle{
    width: 200px;
    border-radius: 50px !important;
}
.book-collection{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem 0 2rem 0;
    transition: .5s;
}
.book-card{
    text-align: center;
    height: auto;
    margin: auto;
    justify-content: center;
    padding: 1rem;
    margin: 2rem 0 2rem 0;
    transition: .5s;
    
}
.book-image{
    margin-bottom: 1rem;
}
.book-image img{
    width: 200px;
    height: 250px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    transition: .5s;

}
.book-image img:hover{
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}
.book-info h6{
    font-size: 10px;
}
.btn-success{
    width: 150px;
}
.qualities{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 3rem 1rem 3rem 1rem;

}
.quality1{
    text-align: center;
    margin: 1rem;
    width: 30%;
    box-shadow: 2px 2px 8px rgba(199, 199, 199, 0.5);
    padding: 1.5rem;
    transition: .5s !important;
}
.quality1:hover{
    background: #ECB602;
    color: white;
}

.quality1 img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 1rem;
    object-fit: cover;
}
.quality1 h5{
    font-size: 12px;
}

/* Testimonial grid */
.testimonial-grid{
    padding: 3rem 0 3rem 0;
    margin: 2rem 0 2rem 0;
}
.review{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 80%;
    padding: 1rem;
    box-shadow: 2px 2px 8px rgba(199, 199, 199, 0.5);
    
}

.review1{
    margin-left: 20px;
}
.review2{
    margin-right: 20px;
}
.review3{
    margin-left: 20px;
}
.review .profile{
    width: 30%;
    margin: auto;
}
.review .profile h6{
    font-size: 12px;
    line-height: 0;
    margin-top: 1rem;
}
.review .profile img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid #ECB602;
}
.review .feedback{
    width: 70%;
}
.review .feedback p{
    font-size: 13px;
    margin-top: 1rem;
}

/* Footer */

footer{
    background: #ECB602;
    padding: 3rem 0 3rem 0;
}
.sr-only{
    background: #ECB602;
}
.footer-sections{
    margin: auto;
    justify-content: center;
}
.footer-links a{
    display: block;
    font-size: 12px;
    color: black;
    margin: 1rem;

}
.footer-links a:hover{
    color: rgb(48, 47, 47);
    text-decoration: none;
}
.footer-books{
    display: flex;
}
.footer-books img{
    width: 100px;
    height: 140px;
    margin: 0 1rem 0 1rem;
}
h6.copyright{
    font-size: 12px;
}

 /* Media Queries */
@media only screen and (max-width: 1050px){
    .row-img-info{
        margin: 0;
        padding: 2rem;
    }
    .achievement1 h1{
        font-size: 30px;
    }
    .achievement1 h6{
        font-size: 15px;
    }
    .author-col{
        width: 40%;
    }
    .quality1{
        width: 40%;
    }
}
@media only screen and (max-width: 991px){
    .rec-sec-info p{
        font-size: 10px;
    }
    .rec-sec-img img{
        height: 200px;
        width: 150px;
    }
}
@media only screen and (max-width: 900px){
    header{
        height: 70vh;
    }
    .header-content h1{
        font-size: 40px;
        padding: 1rem;
    }
    .achievement1 h1{
        font-size: 25px;
    }
}
@media only screen and (max-width: 900px){
    .footer-books{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .rec-sec-img img{
        height: 200px;
        width: 120px;
    }
    .author-row{
        grid-column-gap: 1rem;
    }
    .author-col{
        margin: 1rem;
    }
}
@media only screen and (max-width: 700px){
    .dropdown-btn .dropdown-item{
        font-size: 12px;
        word-wrap: break-word;
        padding: 0.5rem;
    }
}
@media only screen and (max-width: 600px){
    .main-start .text-column{
        margin: 0;

    }
    .rec-sec-img img{
        height: 200px;
        width: auto;
    }
    .achievement1 h6{
        font-size: 10px;
    }
    .achievement1{
        margin: 0;
        padding: 0.5rem;
    }
    .dropdown-btn .dropdown-item{
        font-size: 12px;
        word-wrap: break-word;
        padding: 0.5rem;
    }
    .btn-success{
        width: 130px !important;
    }
    .book-image img{
        width: 170px;
        height: 220px;
        margin: auto;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        transition: .5s;
    
    }
    .review .profile img{
        border: 4px solid #ECB602;
    }
    .recommend-book{
        margin: 2rem 0.5rem 1rem 0.5rem !important;
        padding: 2rem 0.5rem 2rem 0.5rem !important;
    }
    .main-start .text-column{
        box-shadow: 5px 5px 15px rgba(199, 199, 199, 0.5);
        margin: 1rem;
    }
}
@media only screen and (max-width: 550px){
    .review .feedback p{
        font-size: 10px;
        margin: 1rem;
    }
}
@media only screen and (max-width: 500px){
    header{
        height: 70vh;
    }
    .header-content h1{
        font-size: 30px;
    }
    .quality1{
        width: 60%;
    }
    .review1, .review2, .review3{
        margin: auto;
    }
    .review .profile img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    .review .profile h6{
        font-size: 8px;
        line-height: 1;
        margin: 0.2rem 0 0.2rem 0;
    }
    .author-container h2{
        font-size: 25px;
    }
    .dropdown-btn .dropdown-item{
        font-size: 12px;
        word-wrap: break-word;
        padding: 0.5rem;
    }
    .book-card{
        width: 45%;
        
    }
    .book-image{
        margin-bottom: 1rem;
    }
    .book-image img{
        width: 100%;
        height: 200px;
    
    }
    .btn-success{
        width: 120px;
    }
    .quality1{
        width: 80%;
    }

}
@media only screen and (max-width: 400px){
    .achievement1 h1{
        
        font-size: 20px;
    }
    .achievement1{
        width: 25%;
        height: 80px;
        word-wrap: break-word;
    }
    .book-image img{
        width: 100%;
        height: 180px;
    
    }
    .btn-success{
        width: 110px !important;
    }
}
@media only screen and (max-width: 300px){
    .header-content{
        top: 30%;
    }
    .header-content h1{
        font-size: 30px;
    }
    .dropdown-btn .dropdown-item{
        font-size: 12px;
        word-wrap: break-word;
        padding: 0.5rem;
    }
    .achievement1{
        width: 30%;
    }
    .author-container h2{
        font-size: 25px;
    }
}
